<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="img" href="#">
          <img src="/d/downloads/msg305367376-628" alt="" width="100" height="64">
        </a>
        <li class="nav-item">
          <a class="nav-link" href="#">Хостинг</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">VPS/VDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DEDICATED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Домены</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Услуги
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Создвть Сайт</a></li>
            <li><a class="dropdown-item" href="#">Тех-Поддержка Сайта</a></li>
            <li><a class="dropdown-item" href="#">Продвижение Сайта</a></li>
            <li><a class="dropdown-item" href="#">Оптимизация Сайта</a></li>
            <li><a class="dropdown-item" href="#">Реклама в GOOGLE и YANDEX</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">БЕСПЛАТНЫЙ ХОСТИНГ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            INFO
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Новости</a></li>
            <li><a class="dropdown-item" href="#">Инструкции</a></li>
            <li><a class="dropdown-item" href="#">Документы</a></li>
            <li><a class="dropdown-item" href="#">Статьи</a></li>
            <li><a class="dropdown-item" href="#">Продажа Оборудования</a></li>
            <li><a class="dropdown-item" href="#">PORTFOLIO</a></li>
            <li><a class="dropdown-item" href="#">Все Наши Сервисы</a></li>
            <li><a class="dropdown-item" href="#">Все Наши Услуги</a></li>
            <li><a class="dropdown-item" href="#">Контакты</a></li>
          </ul>
        </li>
  </div>
</nav>