<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Пакеты на Выделенные сервера:</h5>
    <p class="card-text">

<div class="row row-cols-2 row-cols-md-3 g-4">
  <div class="col" >
    <div class="row">
<div class="col-sm-6">
<div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">NANO</h5>
    <p class="card-text"> 
         Интернет канал: Unlimited
          </br>
          В год: 5 €Дисковое пространство: 2 X 300 GB
          </br>
          Количество IP: 1
          </br>
          Количество оперативной памяти: 8 GB
          </br>
          Процессор: 1 X Xeon E5620 (4 core)
          </br>
          Поддержка: Simple
          </br></br>
          Цена мес/год: 35/350 Euros
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
  <div class="col">
    <div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">START</h5>
    <p class="card-text"> 
          Интернет канал: Unlimited
          </br>
          В год: 5 €Дисковое пространство: 2 X 300 GB
          </br>
          Количество IP: 1
          </br>
          Количество оперативной памяти: 16 GB
          </br>
          Процессор: 1 X Xeon L5640 (6 core X 2,26 GHz)
          </br>
          Поддержка: Basic
          </br></br>
          Цена мес/год: 55/550 Euro
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">MINI</h5>
    <p class="card-text"> 
          Интернет канал: Unlimited
          </br>
          В год: 5 €Дисковое пространство: 2 X 300 GB
          </br>
          Количество IP: 1
          </br>
          Количество оперативной памяти: 32 GB
          </br>
          Процессор: 1 X XEON X5670 (6 Core X 2,96 GHz)
          </br>
          Поддержка: Delux
          </br></br>
          Цена мес/год: 75/750 Euro
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">STANDART+</h5>
    <p class="card-text"> 
          Интернет канал: Unlimited
          </br>
          В год: 5 €Дисковое пространство: 2 X 300 GB
          </br>
          Количество IP: 1
          </br>
          Количество оперативной памяти: 48 GB
          </br>
          Процессор:: 2 X XEON X5650 (12 Core X 2,66 GHz)
          </br>
          Поддержка: Premium
          </br></br>
          Цена мес/год: 85/850 Euro
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">OPTIM</h5>
    <p class="card-text"> 
          Интернет канал: Unlimited
          </br>
          В год: 5 €Дисковое пространство: 2 X 300 GB
          </br>
          Количество IP: 1
          </br>
          Количество оперативной памяти: 64 GB
          </br>
          Процессор: 2 X XEON X5670 (12 Core X 2,96 GHz)
          </br>
          Поддержка: Premium
          </br></br>
          Цена мес/год:125/1250 
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
   <div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">SUPER</h5>
    <p class="card-text"> 
          Интернет канал: Unlimited
          </br>
          В год: 5 €Дисковое пространство: 2 X 300 GB
          </br>
          Количество IP: 1
          </br>
          Количество оперативной памяти: 128 GB
          </br>
          Процессор: 2 X XEON X5690 (12 Core X 3,46 GHz)
          </br>
          Поддержка: Premium
          </br></br>
          Цена мес/год: 200/2000 Euro
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Дополнительные оптии:...
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>
</div>
</p>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">ВЫДЕЛЕННЫЙ СЕРВЕР</h5>
    <p class="card-text">
Выделенный сервер – это услуга по аренде или продаже физического оборудования, установленного на площадке дата-центра. Владелец dedicated server получает в свое распоряжение отдельную машину с правом ее настройки по своему усмотрению. По сравнению с виртуальным, dedicated-хостинг обеспечивает более высокую производительность и безопасность.

Выделенный физический сервер рекомендуется использовать владельцам высоконагруженных корпоративных порталов, медиа-ресурсов, крупных баз данных и других сайтов с высокой посещаемостью. Аренда такого оборудования обходится дороже, чем виртуальный хостинг, однако это компенсируется расширенными возможностями по настройке системы и полной независимостью от «соседей» по хостингу.

 
</p>
  </div>
</div>
</div>
</div>