<span class="border-1 border-width:16px">
<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Пакеты на Хостинг</h5>
    <p class="card-text">

<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col" >
    <div class="row">
<div class="col-sm-6">
<div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">LANDING</h5>
    <p class="card-text"> 
          Лучшее предложение
          </br>
          В год: 5 €
          </br>
          Жесткий диск: 400 Mb
          </br>
          SSL: FREE
          </br>
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">MICRO</h5>
    <p class="card-text"> 
      В месяц: 1 €
    </br>
      В год: 10 €
    </br>
      Жесткий диск: 1 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">MINI</h5>
    <p class="card-text"> 
      В месяц: 2 €
    </br>
      В год: 14 €
    </br>
      Жесткий диск: 3 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">STANDART</h5>
    <p class="card-text"> 
      В месяц: 3 €
    </br>
      В год: 20 €
    </br>
      Жесткий диск: 6 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">BIZ</h5>
    <p class="card-text"> 
      В месяц: 4 €
    </br>
      В год: 30 €
    </br>
      Жесткий диск: 10 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">BIZ LARGE</h5>
    <p class="card-text"> 
      В месяц: 6 €
    </br>
      В год: 50 €
    </br>
      Жесткий диск: 20 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">BIZ EXTRA</h5>
    <p class="card-text"> 
      В месяц: 8 €
    </br>
      В год: 60 €
    </br>
      Жесткий диск: 40 Gb + 10 Gg: 1€ мес./10€ в год
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
</div>
</p>
</div>
</div>
</br>
<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card text-center">
  <div class="card-body ">
    <h5 class="card-title">На все пакеты:</h5>
    <p class="card-text">
    Домены: не ограниченно
    </br>
    Сетевой трафик: не ограниченно
    </br>
    Количество баз данных: не ограниченно
    </br>
    E-mail: не ограниченно
        </br>
    FTP пользователи: не ограниченно
    </br>
    Backup: ежедневный Настраиваемый!
    </br>
    Бесплатная установка популярных CMS: WordPress, Joomla, Drupal, VamShop, phpBB, Prestashop, TinyCMS, HostCMS, Magento, Moodle, Typo, Zen Cart, …!
    </br>
   </p>
  </div>
</div>
</br>
<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">WEB ХОСТИНГ В МОЛДОВЕ</h5>
    <p class="card-text">
      Ситуация на мировом рынке не стоит на месте, и мы тоже. В связи с этим наша компания готова предложить разумные цены на WEB HOSTING. Но мы не ограничились лишь приемлемой ценой .Теперь характеристики пакетов, а именно сетевой трафик, количество доменов, количество баз данных и почтовых ящиков не ограничено. Ограничение распространяется лишь на дисковое пространство. Кроме этого мы работаем на собственном, расположенном в Молдове оборудовании, то есть время доступа к вашему интернет ресурсу будет минимальным.

К примеру, на данный момент мы озабоченны внедрением LOAD-BALANCER кластеров в наше вычислительную инфраструктуру, что позволит динамически распределять нагрузку между серверами для более эффективного их использования. Внедрение данной технологии также позволит динамически наращивать мощность виртуального пространства без отключений для проведения реконфигурирования, что в свою очередь повысит uptime системы.

Предоставление хостинга, то есть выделение пользователям места в виртуальном пространстве на первый взгляд выглядит как стандартная и тривиальная задача, но это только на первый взгляд. На самом деле предоставление данного вида услуг сопряжено с поддержкой достаточно внушительной вспомогательной инфраструктуры, которая в свою очередь сделает процесс эксплуатации хостинга простым и понятным каждому. Поддержка FTP сервера, администрирование MAIL сервера, поддержка и редирект DNS серверов, контроль функционирования серверов баз данных это лишь небольшая часть тех невидимых задач, с которыми столкнется каждый день FAST.MD. Немаловажным моментов в данной процессе является и то, что наш клиент должен иметь возможность самостоятельно управлять своими ресурсами. Для этих целей мы предоставляем панель администрирования хостинг пространства ISP CP. Кроме вышеперечисленных функций вам будет предоставлена панель NIC.FAST.MD, данная панель позволяет управлять выделенным вам доменным пулом. Немаловажным фактором функционирования вашего интернет проекта является защита от нежелательного воздействия на данные, кроме прямых средств защиты вы можете спланировать резервное копирование вашего хостинг пространства при заключении договора с FAST.MD или уже непосредственно в процессе эксплуатации. Процесс планирования резервного копирования - это своеобразная гигиена для каждого пользователя виртуального пространства. Ведь защитить себя от случайного, но от этого не менее разрушительного воздействия на данные, мы можем только методами периодического превентивного копирования данных в защищенную область, которая, в свою очередь, хранится отдельно от текущих рабочих данных и не подвержена внешнему воздействию.

Хочется дополнительно отметить модель функционирования хостинг серверов FAST.MD. Главный принцип лежащий в основе идеологии построения нашей информационной системы это "Duplicate All" , то есть резервируем абсолютно все уровни системы. Начинается все с дублирования физических серверов на которых функционирует система. Следующий уровень дублирования это FAIL-OVER кластеризация виртуальных серверов работающих под управлением KVM гипервизора. Далее следует рассмотреть уровень кластеризации программных серверов баз данных, данная опция выполнена встроенными средствами MySQL. Кластеризация веб серверов Apache так же производится встроенными средствами но имеет несколько другой характер. Вершиной пирамиды кластеризации является резервирование DNS серверов, это наиболее важный момент во всей системе, так как без надежной DNS адресации, все остальные сервисы не имеют никакого смысла. Именно за счет такого ступенчатого подхода и обеспечивается высокая надежность хостинговой системы FAST.MD.

Кроме вышеперечисленных особенностей нашей вычислительной системы, стоит отметить главную – это cloud инфраструктура, и это обстоятельство позволяет постоянно наращивать спектр предоставляемых сервисов, таких например как возможность расположить на своем хостинге не только веб сайты, но и веб приложения написанные на языках высокого уровня таких как Python или Ruby. В ближайшем будущем, к примеру, FAST.MD планирует предоставлять как дополнительную опцию framework хостинг, пространство для работы приложений созданных с использованием библиотек Simphony или Ruby on Rails.

Учитывая все вышесказанное становится ясным что главным приоритетом нашего проекта является высокое качество предоставляемых услуг, и использование самых передовых технологий мира IT для того чтобы наши клиенты всегда шли в ногу со временем.

Договор на предоставление услуг
</p>
  </div>
</div>
</span>