
</br>
<div class="row row-cols-1 row-cols-md-6 g-4">
  <div class="col" >
    <div class="row">
<div class="col-sm-6">
<div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">LANDING</h5>
    <p class="card-text"> 
          Лучшее предложение
          </br>
          В год: 5 €
          </br>
          Жесткий диск: 400 Mb
          </br>
          SSL: FREE
          </br>
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">MICRO</h5>
    <p class="card-text"> 
      В месяц: 1 €
    </br>
      В год: 10 €
    </br>
      Жесткий диск: 1 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">MINI</h5>
    <p class="card-text"> 
      В месяц: 2 €
    </br>
      В год: 14 €
    </br>
      Жесткий диск: 3 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">STANDART</h5>
    <p class="card-text"> 
      В месяц: 3 €
    </br>
      В год: 20 €
    </br>
      Жесткий диск: 6 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">BIZ</h5>
    <p class="card-text"> 
      В месяц: 4 €
    </br>
      В год: 30 €
    </br>
      Жесткий диск: 10 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">BIZ LARGE</h5>
    <p class="card-text"> 
      В месяц: 6 €
    </br>
      В год: 50 €
    </br>
      Жесткий диск: 20 Gb
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 11rem;">
  <div class="card-body">
    <h5 class="card-title">BIZ EXTRA</h5>
    <p class="card-text"> 
      В месяц: 8 €
    </br>
      В год: 60 €
    </br>
      Жесткий диск: 40 Gb + 10 Gg: 1€ мес./10€ в год
    </br>  
      SSL: FREE
    </br>  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
</div>