<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Пакеты на VPS/VDS</h5>
    <p class="card-text">

<div class="row row-cols-1 row-cols-md-5 g-4">
</br>
  <div class="col" >
    <div class="row">
<div class="col-sm-6">
<div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">SMALL</h5>
    <p class="card-text"> 
          ОЗУ: 2 Gb RAM
          </br>
          ВCPU (2,93GHz): 1
          </br>
          Параметры: 20 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 5 €
          </br>
          В год: 50 €
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
  <div class="col">
    <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">MINI</h5>
    <p class="card-text"> 
          ОЗУ: 4 Gb RAM
          </br>
          ВCPU (2,93GHz): 2
          </br>
          Параметры: 40 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 10 €
          </br>
          В год: 100 €
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">MEDIUM</h5>
    <p class="card-text"> 
          ОЗУ: 6 Gb RAM
          </br>
          ВCPU (2,93GHz): 3
          </br>
          Параметры: 60 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 15 €
          </br>
          В год: 150 € 
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">LARGE</h5>
    <p class="card-text"> 
          ОЗУ: 8 Gb RAM
          </br>
          ВCPU (2,93GHz): 4
          </br>
          Параметры: 80 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 20 €
          </br>
          В год: 200 €  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">EXTRA LARGE</h5>
    <p class="card-text"> 
          ОЗУ: 16 Gb RAM
          </br>
          ВCPU (2,93GHz): 8
          </br>
          Параметры: 160 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 40 €
          </br>
          В год: 400 €  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
</div>
</p>
</div>
</div>