<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Пакеты на VPS/VDS</h5>
    <p class="card-text">

<div class="row row-cols-1 row-cols-md-5 g-4">
</br>
  <div class="col" >
    <div class="row">
<div class="col-sm-6">
<div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">SMALL</h5>
    <p class="card-text"> 
          ОЗУ: 2 Gb RAM
          </br>
          ВCPU (2,93GHz): 1
          </br>
          Параметры: 20 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 5 €
          </br>
          В год: 50 €
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</br>
  <div class="col">
    <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">MINI</h5>
    <p class="card-text"> 
          ОЗУ: 4 Gb RAM
          </br>
          ВCPU (2,93GHz): 2
          </br>
          Параметры: 40 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 10 €
          </br>
          В год: 100 €
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
      </div>
    </br>
      <div class="col">
        <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">MEDIUM</h5>
    <p class="card-text"> 
          ОЗУ: 6 Gb RAM
          </br>
          ВCPU (2,93GHz): 3
          </br>
          Параметры: 60 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 15 €
          </br>
          В год: 150 € 
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">LARGE</h5>
    <p class="card-text"> 
          ОЗУ: 8 Gb RAM
          </br>
          ВCPU (2,93GHz): 4
          </br>
          Параметры: 80 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 20 €
          </br>
          В год: 200 €  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
  <div class="col">
    <div class="card" style="width: 17rem;">
  <div class="card-body">
    <h5 class="card-title">EXTRA LARGE</h5>
    <p class="card-text"> 
          ОЗУ: 16 Gb RAM
          </br>
          ВCPU (2,93GHz): 8
          </br>
          Параметры: 160 GB, SAS10k RAID 10
          </br>
          Выделенный IP (MD): 1
          </br>
          В месяц: 40 €
          </br>
          В год: 400 €  
          </p>
          <a href="#" class="btn btn-primary">Купить</a>
          </div>
        </div>
  </div>
</div>
<span class="placeholder col-12 bg-info"></span>
<div class="card text-center">
  <div class="card-body ">
    <h5 class="card-title">
*Трафик - НЕ ОГРАНИЧЕН!
</br>
*Тип виртуализации - KVM
</br></br>
Дополнительные опции, цены в месяц:
  </h5>
    <p class="card-text">
    Установка ОС на Linux: БЕСПЛАТНО (при первом подключении)
    </br>
    Установка других Операционных Систем: 4 € - единоразово
    </br>
    + 1 GB RAM: 1 €
    </br>
    + 5 GB HDD: 1 €
        </br>
    + 1 IP adress: 2 €
    </br>
    + 5 Gb Backup: 1 €
    </br>
   </p>
  </div>
</div>
<span class="placeholder col-12 bg-info"></span>
</br>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">VPS ХОСТИНГ ВИРТУАЛЬНЫЙ СЕРВЕР В МОЛДОВЕ - VDS</h5>
    <p class="card-text">
Что такое VPS/VDS серверы, и чем они отличаются?

Между VPS и VDS серверами отличий как таковых нет, поэтому в дальнейшем использоваться будет аббревиатура VPS.

VPS – это виртуальный сервер который образован гипервизорным программным обеспечением на основе физического, фактически при такой организации вычислительного пространства один физический сервер делится на несколько виртуальных серверов, которые функционируют как полноценные физические сервера.

Такой подход позволяет более эффективно использовать вычислительные мощности, за счет возможности плавного увеличения использования ресурсов. То есть брать сервер с расчетом на, то, что через год количество его клиентов возрастет теперь просто не имеет смысла, можно просто позвонить нам и перейти на более мощный виртуальный сервер когда такая необходимость возникнет.

VPS - виртуальный сервер
VPS это гибкость! Перенося ваши данные в виртуальную среду вы не только снимаете с себя проблему администрирования физических серверных ресурсов, но получаете защищенность профессионального дата центра. Если раньше вам нужно было для защиты ваших серверов поддерживать большое количество дорогостоящего оборудования, то теперь вы получаете все это автоматически при покупке VPS абонемента. По желанию клиента может, осуществляется централизованный мониторинг его серверов, с оповещением при возникших внештатных ситуациях. Теперь все проблемы связанные с нестабильным питанием, низкокачественным интернет подключением, выходами из строя программно-аппаратного обеспечения лягут на плечи наших высококвалифицированных специалистов.

Преимущества работы в виртуальной среде.
Физические повреждения серверов будут оказывать минимальное воздействие на программное обеспечение, то есть при выходе из строя одного вычислительного модуля, программы автоматически будут запущены на другом вычислительном ресурсе. Таким образом, использование облачных технологий позволяет отделить программное обеспечение от аппаратного, что в свою очередь сводит к минимуму влияние на работу программных сервисов сбоев аппаратной среды.
Возможность при небольших вложениях организовать высоконадежную, отказоустойчивую систему. К примеру, при покупке двух виртуальных машин клиент может заказать FAIL - OVER кластеризацию, благодаря такой организации рабочего процесса клиент получит возможность поддержания двойной устойчивости по всем уровням информационной системы.
Возможность централизованной антивирусной защиты так называемая Security as a Service
Возможность организации централизованного автоматизированного резервного копирования, в оn-line режиме. Эта оперция проводится на уровне LVM виртуальных логических дисков.
Отсутствие каких бы то ни было расходов на организацию и защиту сетевой инфраструктуры
Виртуальные сервера это еще и экономия энергозатрат за счет оптимизации использования мощностей. Естественно создать хорошо оптимизированную инфраструктуру на небольших мощностях обычных серверных не представляется возможным, зато в рамках крупного дата центра эта задача становится вполне выполнимой , причем прирост эффективности в геометрической прогрессии при приращении вычислительных мощностей.
За счет высокой энерго-эффективности и централизованного обслуживания аппаратного обеспечения , ЦОД становится очень экологичным, централизуя свои вычислительные мощности вы сохраняете свое здоровье и здоровье ваших детей.
Договор на предоставление услуг
</p>
  </div>
</div>
</p>
</div>
</div>
</span>